# $Id: aprsfeed.service,v 1.3 2018/09/11 08:10:53 karn Exp $
# Systemd startup module for APRS network feed - requires configuration with callsign and authenticator!
# Phil Karn, KA9Q Aug 2018

[Unit]
Description=APRS network feeder
Requires=multi-user.target

[Service]
User=aprsfeed
Group=nogroup
Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/aprsfeed.log
ExecStartPre=/bin/chown aprsfeed /var/log/aprsfeed.log
# change NOCALL to your reporting callsign
ExecStart=/usr/local/bin/aprsfeed -I ax25.mcast.local -u NOCALL -h sjc.aprs2.net -f /var/log/aprsfeed.log

[Install]
WantedBy=multi-user.target
