# $Id: funcube0.service,v 1.7 2018/08/29 00:53:07 karn Exp $
# Systemd unit to start up funcube daemon for funcube dongle 0
# Phil Karn, KA9Q Aug 2018

[Unit]
Description=Funcube 0 daemon
After=sound.target
Requires=sound.target
After=network-online.target
Requires=network-online.target
After=multi-user.target
Requires=multi-user.target

[Service]
Nice=-10
User=funcube
Group=users
Type=forking
PermissionsStartOnly=true
RuntimeDirectory=funcube0
RuntimeDirectoryMode=0755
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/funcube -d -I 0 -R iq.hf.mcast.local
PIDFile=/run/funcube0/pid

[Install]
#WantedBy=multi-user.target
