# $Id: funcube1.service,v 1.10 2018/11/14 23:14:51 karn Exp $
# Systemd unit to start up funcube daemon for funcube dongle 1
# Phil Karn, KA9Q Aug 2018

[Unit]
Description=Funcube 1 daemon
After=sound.target
Requires=sound.target
After=network-online.target
Requires=network-online.target
After=multi-user.target
Requires=multi-user.target

[Service]
Nice=-10
User=funcube
Group=users
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=funcube1
RuntimeDirectoryMode=0755
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/funcube -d -I 1 -R iq.vhf.mcast.local,eth0
PIDFile=/run/funcube1/pid
Restart=always
RestartSec=1

[Install]
#WantedBy=multi-user.target
