# $Id: hackrf0.service,v 1.2 2018/08/28 21:41:53 karn Exp $
# Systemd service file for KA9Q's HackRF One daemon
# Note - this is a rather compute intensive program
# Phil Karn, KA9Q, Aug 2018

[Unit]
Description=HackRF 0 daemon
After=network-online.target
Requires=network-online.target
After=multi-user.target
Requires=multi-user.target

[Service]
User=hackrf
Group=none
Type=forking
PermissionsStartOnly=1
ExecStartPre=/bin/mkdir /run/hackrf
ExecStartPre=/bin/chmod 0755 /run/hackrf
ExecStart=/usr/local/bin/hackrf -d -I 0 -R iq.hackrf.mcast.local
PIDFile=/run/hackrf/0.pid

[Install]
#WantedBy=multi-user.target
