# $Id: packet.service,v 1.1 2018/08/28 21:44:13 karn Exp $
# systemd service unit for AX.25 packet decoder
# Listens to multiple audio groups, sends AX.25 packets to one multicast group distinguished by receiver SSRC

[Unit]
Description=Packet decoder
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/packet -I pcm.hackrf.mcast.local -I pcm.hf.mcast.local -I pcm.vhf.mcast.local -R ax25.mcast.local 
DynamicUser=1

[Install]
WantedBy=multi-user.target
