# $Id: radio34.service,v 1.5 2018/11/14 23:15:50 karn Exp $
# systemd unit for FM radio receiver on 144.34 MHz (WB8ELK pico payload alternate frequency)
# Phil Karn, KA9Q, Aug 2018

[Unit]
Description=144.34 MHz FM radio
Requires=multi-user.target

[Service]
Nice=-10
Type=simple
ExecStart=/usr/local/bin/radio -q -m fm -f 144m34 -I iq.vhf.mcast.local,eth0 -R pcm.vhf.mcast.local,eth0
DynamicUser=true
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
