# $Id: radio39.service,v 1.1 2018/08/28 21:43:51 karn Exp $
# systemd unit for FM radio receiver on 144.39 MHz (North American APRS channel)
# Phil Karn, KA9Q, Aug 2018

[Unit]
Description=144.39 MHz FM radio
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/radio -q -m fm -f 144m39 -I iq.vhf.mcast.local -R pcm.vhf.mcast.local
DynamicUser=true

[Install]
WantedBy=multi-user.target
